In [14]:
import pandas as pd
import math
import numpy as np
from matplotlib import pyplot as plt
from numpy import logical_and as land, logical_or as lor

In [ ]:
DATA_PATH = 'data/'

In [6]:
df_users = pd.read_csv(DATA_PATH+'users_clean.csv', sep='#')
df_tweets = pd.read_csv(DATA_PATH+'tweets_clean.csv', sep='#')

In [15]:
def plot_hist(dataframe, attribute_name, log=False):
    df = pd.DataFrame()

    if log:
        log_attribute_name = attribute_name+'_log'
        df[log_attribute_name] = np.log(dataframe[attribute_name].values)

        attribute_name = log_attribute_name
        df[attribute_name] = df[attribute_name].replace(-np.inf, 0)

    else:
        df[attribute_name] = dataframe[attribute_name].values
    n_bins = math.ceil(np.log2(len(df[attribute_name])) + 1) #Sturges' rule
    df.hist(attribute_name, bins = n_bins, log=True)

In [ ]:
def plot_boxplot(df,col,log=False):
    #Plot the distribution of the indicated column
    plt.boxplot(df_tweets[df[col] != -1.0][col], showmeans=True)
    if log:
        plt.yscale('log')
    plt.show()

In [37]:
user_id_array = np.array(df_tweets.groupby(by=['user_id']).user_id.apply(list).to_list())
user_id_array.shape
#df_indicators = pd.DataFrame()
#df_indicators.info()

C:\Users\Alessandro\AppData\Local\Temp\ipykernel_22060\3172614189.py:1: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  user_id_array = np.array(df_tweets.groupby(by=['user_id']).user_id.apply(list).to_list())

(222285,)

In [41]:
user_id_array

array([list(['0006qod9y']), list(['000unb']), list(['000vk']), ...,
       list(['zzyyu']), list(['zzz9v']), list(['zzza'])], dtype=object)

In [40]:
user_id_array = np.squeeze(user_id_array)
user_id_array.shape

(222285,)

# How many tweets were published by the user?

In [34]:
#df_indicators['n_tweets'] =
df_tweets.groupby(by=['user_id'])

In [22]:
df_indicators

                         user_id  n_tweets
0       (0006qod9y, [0006qod9y])       NaN
1             (000unb, [000unb])       NaN
2               (000vk, [000vk])       NaN
3           (0013tom, [0013tom])       NaN
4               (001gi, [001gi])       NaN
...                          ...       ...
222280          (zzyd6, [zzyd6])       NaN
222281  (zzyhkgc34, [zzyhkgc34])       NaN
222282          (zzyyu, [zzyyu])       NaN
222283          (zzz9v, [zzz9v])       NaN
222284            (zzza, [zzza])       NaN

[222285 rows x 2 columns]

# How many tweets are published by the user in a given period of time?

# Total number of tweets

# Total number of likes and comments

# Ratio between the number of tweets and the number of likes

# Entropy of the user

# Average length of the tweets per user

# Average number of special characters in the tweets per user