In [2]:
from utilities import get_path
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
DATA_PATH = get_path()

In [4]:
df_tweets = pd.read_csv(DATA_PATH+'tweets_clean.csv', sep='#')
df_users = pd.read_csv(DATA_PATH+'users_clean.csv', sep='#')

In [5]:
df_tweets.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10187873 entries, 0 to 10187872
Data columns (total 10 columns):
 #   Column                    Dtype
---  ------                    -----
 0   user_id                   object
 1   publication_date          object
 2   text                      object
 3   publication_date_in_secs  int64
 4   retweet_count             int64
 5   reply_count               int64
 6   favorite_count            int64
 7   num_hashtags              int64
 8   num_urls                  int64
 9   num_mentions              int64
dtypes: int64(7), object(3)
memory usage: 777.3+ MB

In [6]:
start_2019 = pd.to_datetime(["20190101"]).astype(np.int64)[0]
end_2019 = pd.to_datetime(["20191231"]).astype(np.int64)[0]
df_tweets2019 = df_tweets[(df_tweets['publication_date_in_secs'] > start_2019) & (df_tweets['publication_date_in_secs'] < end_2019)]

In [7]:
df_users.id = df_users.id.astype(str)
df_merged = df_tweets2019.merge(df_users, left_on='user_id', right_on='id', how='right')

In [8]:
df_merged['publication_date_in_secs'].shape

(4514310,)

In [9]:
df_merged.info(null_counts=True)

C:\Users\Alessandro\AppData\Local\Temp\ipykernel_12316\254028530.py:1: FutureWarning: null_counts is deprecated. Use show_counts instead
  df_merged.info(null_counts=True)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4514310 entries, 0 to 4514309
Data columns (total 17 columns):
 #   Column                     Non-Null Count    Dtype
---  ------                     --------------    -----
 0   user_id                    4509589 non-null  object
 1   publication_date           4509589 non-null  object
 2   text                       4411353 non-null  object
 3   publication_date_in_secs   4509589 non-null  float64
 4   retweet_count              4509589 non-null  float64
 5   reply_count                4509589 non-null  float64
 6   favorite_count             4509589 non-null  float64
 7   num_hashtags               4509589 non-null  float64
 8   num_urls                   4509589 non-null  float64
 9   num_mentions               4509589 non-null  float64
 10  id                         4514310 non-null  object
 11  name                       4514309 non-null  object
 12  lang                       4514310 non-null  object
 13  bot                        4514310 non-null  int64
 14  user_subscription          4514310 non-null  object
 15  statuses_count             4514310 non-null  float64
 16  user_subscription_in_secs  4514310 non-null  int64
dtypes: float64(8), int64(2), object(7)
memory usage: 619.9+ MB

In [55]:
df_grouped = df_merged.groupby(by=['user_id'])

In [56]:
df_grouped.head()

,user_id,publication_date,text,publication_date_in_secs,retweet_count,reply_count,favorite_count,num_hashtags,num_urls,num_mentions,id,name,lang,bot,user_subscription,statuses_count,user_subscription_in_secs
0,2353593986,2019-07-11 03:49:06,"@4fri2endly0 ""A business that makes nothing bu...",1.562817e+18,0.0,0.0,0.0,0.0,0.0,1.0,2353593986,Lamonica Raborn,en,1,2019-02-22 18:00:42,76.0,1550858442000000000
1,2353593986,2019-06-21 08:05:13.000,"""Happiness is not a station you arrive at, but...",1.561104e+18,0.0,0.0,0.0,0.0,0.0,0.0,2353593986,Lamonica Raborn,en,1,2019-02-22 18:00:42,76.0,1550858442000000000
2,2353593986,2019-04-05 12:41:00.000,Music flow.,1.554468e+18,0.0,0.0,0.0,0.0,0.0,0.0,2353593986,Lamonica Raborn,en,1,2019-02-22 18:00:42,76.0,1550858442000000000
3,2353593986,2019-07-25 12:17:31,@_SimplyKC follow meeee...,1.564057e+18,0.0,0.0,0.0,0.0,0.0,1.0,2353593986,Lamonica Raborn,en,1,2019-02-22 18:00:42,76.0,1550858442000000000
4,2353593986,2019-04-29 20:55:05.000,"""You are the only person on earth who can use ...",1.556571e+18,0.0,0.0,0.0,0.0,0.0,0.0,2353593986,Lamonica Raborn,en,1,2019-02-22 18:00:42,76.0,1550858442000000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4514214,2383025796,2019-07-02 22:59:26,"@summerbanks1234 ""Like what you do. If you don...",1.562108e+18,0.0,0.0,0.0,0.0,0.0,1.0,2383025796,Minnie Guadagno,en,1,2019-03-13 02:44:13,42.0,1552445053000000000
4514215,2383025796,2019-07-27 06:06:05,@djbraskodareal great!,1.564208e+18,0.0,0.0,0.0,0.0,0.0,1.0,2383025796,Minnie Guadagno,en,1,2019-03-13 02:44:13,42.0,1552445053000000000
4514216,2383025796,2019-06-30 07:22:45,"Remember the 4 ""F"" rule: If you're not ""F""ucki...",1.561879e+18,0.0,0.0,0.0,0.0,0.0,0.0,2383025796,Minnie Guadagno,en,1,2019-03-13 02:44:13,42.0,1552445053000000000
4514217,2383025796,2019-05-03 09:38:39,Got them headphones in and I'm happy??,1.556876e+18,0.0,0.0,0.0,0.0,0.0,0.0,2383025796,Minnie Guadagno,en,1,2019-03-13 02:44:13,42.0,1552445053000000000
4514218,2383025796,2019-07-12 21:47:05,"Sometimes I feel like I'm in a music video, bu...",1.562968e+18,0.0,0.0,0.0,0.0,0.0,0.0,2383025796,Minnie Guadagno,en,1,2019-03-13 02:44:13,42.0,1552445053000000000

In [69]:
users_list = df_grouped.user_id.unique().apply(int)
users_list = users_list.explode().unique()

In [96]:
len(users_list)

6787

In [106]:
#For each user save the timeseries of pubblications
ts_pubblications = {}
for user in users_list:
    ts_pubblications[user] = df_grouped.get_group(str(user)).publication_date_in_secs.tolist()

In [112]:
df_merged['publication_date'] = pd.to_datetime(df_merged.publication_date)
df_merged['publication_date'] = df_merged['publication_date'].dt.strftime('%d/%m/%Y')

,user_id,publication_date,text,publication_date_in_secs,retweet_count,reply_count,favorite_count,num_hashtags,num_urls,num_mentions,id,name,lang,bot,user_subscription,statuses_count,user_subscription_in_secs
0,2353593986,11/07/2019,"@4fri2endly0 ""A business that makes nothing bu...",1.562817e+18,0.0,0.0,0.0,0.0,0.0,1.0,2353593986,Lamonica Raborn,en,1,2019-02-22 18:00:42,76.0,1550858442000000000
1,2353593986,21/06/2019,"""Happiness is not a station you arrive at, but...",1.561104e+18,0.0,0.0,0.0,0.0,0.0,0.0,2353593986,Lamonica Raborn,en,1,2019-02-22 18:00:42,76.0,1550858442000000000
2,2353593986,05/04/2019,Music flow.,1.554468e+18,0.0,0.0,0.0,0.0,0.0,0.0,2353593986,Lamonica Raborn,en,1,2019-02-22 18:00:42,76.0,1550858442000000000
3,2353593986,25/07/2019,@_SimplyKC follow meeee...,1.564057e+18,0.0,0.0,0.0,0.0,0.0,1.0,2353593986,Lamonica Raborn,en,1,2019-02-22 18:00:42,76.0,1550858442000000000
4,2353593986,29/04/2019,"""You are the only person on earth who can use ...",1.556571e+18,0.0,0.0,0.0,0.0,0.0,0.0,2353593986,Lamonica Raborn,en,1,2019-02-22 18:00:42,76.0,1550858442000000000

In [115]:
df_merged.groupby(by=['publication_date', 'user_id'])
df_merged.head()

,user_id,publication_date,text,publication_date_in_secs,retweet_count,reply_count,favorite_count,num_hashtags,num_urls,num_mentions,id,name,lang,bot,user_subscription,statuses_count,user_subscription_in_secs
0,2353593986,2019-07-11 03:49:06,"@4fri2endly0 ""A business that makes nothing bu...",1.562817e+18,0.0,0.0,0.0,0.0,0.0,1.0,2353593986,Lamonica Raborn,en,1,2019-02-22 18:00:42,76.0,1550858442000000000
1,2353593986,2019-06-21 08:05:13.000,"""Happiness is not a station you arrive at, but...",1.561104e+18,0.0,0.0,0.0,0.0,0.0,0.0,2353593986,Lamonica Raborn,en,1,2019-02-22 18:00:42,76.0,1550858442000000000
2,2353593986,2019-04-05 12:41:00.000,Music flow.,1.554468e+18,0.0,0.0,0.0,0.0,0.0,0.0,2353593986,Lamonica Raborn,en,1,2019-02-22 18:00:42,76.0,1550858442000000000
3,2353593986,2019-07-25 12:17:31,@_SimplyKC follow meeee...,1.564057e+18,0.0,0.0,0.0,0.0,0.0,1.0,2353593986,Lamonica Raborn,en,1,2019-02-22 18:00:42,76.0,1550858442000000000
4,2353593986,2019-04-29 20:55:05.000,"""You are the only person on earth who can use ...",1.556571e+18,0.0,0.0,0.0,0.0,0.0,0.0,2353593986,Lamonica Raborn,en,1,2019-02-22 18:00:42,76.0,1550858442000000000

In [ ]:
#df_merged.to_csv(path_or_buf=DATA_PATH+'tweets_timeseries.csv', sep='#', index=False)